.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  color: #0000ee;
  cursor: pointer;
}

.inputField {
  width: 80%;
}

.button {
  width: 70%;
}

.modalHeader {
  text-align: center;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.or {
  position: relative;
  width: 300px;
  height: 50px;

  line-height: 50px;
  text-align: center;
}

.or::before,
.or::after {
  position: absolute;
  width: 130px;
  height: 1px;

  top: 24px;

  background-color: #aaa;

  content: '';
}

.or::before {
  left: 0;
}

.or::after {
  right: 0;
}
