.App {
  /* text-align: center; */
  height: 100vh;
}

.loaderContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown > .dropdown.icon {
  width: auto;
  display: none;
}
